{% extends "layout.html" %}

{% block content %}

<h1>Services Page</h1>

<div class="service-container">
    <div class="service-card">
        <h2>Canteen Queue</h2>
        <p>Manage food ordering queues.</p>
    </div>

    <div class="service-card">
        <h2>Clinic Queue</h2>
        <p>Track clinic waiting numbers.</p>
    </div>

    <div class="service-card">
        <h2>Office Queue</h2>
        <p>Queue for admin services.</p>
    </div>
</div>

{% endblock %}